@use "../Global.scss" as g;

.nav {
    background-color: g.$dark-blue;
    @include g.flex(0, space-between, center);
    height: 4rem;
    padding: 0.3rem 1rem;

    & > div:first-child { // logo
        width: 4rem;
        height: 100%;
        flex-shrink: 0;
        transition: width 0.5s;

        & > svg {
            height: 100%;
            width: 100%;
        }
    }

    & > .lang_container {
        @include g.flex(0, flex-end, center);
        color: white;
        width: 100%; 
        
        & > div:first-child { // arrow
            padding-top: 0.2rem;
            cursor: pointer;
            
            & > svg {
                transition: transform 1s;
            }

            & > .options_open {
                transform: rotate(540deg);
            }
        }

        & > .lang_options > div, .selected_lang {
            cursor: pointer;
        }

        & > .lang_options {
            transition: width 1s ease;
            overflow: hidden;
            @include g.flex(0, space-around);
            width: 0;
            flex-shrink: 0; /* Prevents the menu from shrinking */

            & > div > img {
                display: none;
            }

            & > div > div::after { // border-bottom line
                content: "";
                display: block;
                height: 1px;
                width: 0;
                background-color: g.$light-blue;
                transition: width 0.3s;
            }
            
            & > div:hover > div::after { // border-bottom line 
                width: 100%;
            }
        }

        & > .selected_lang {
            border-bottom: 1px solid g.$light-blue;
            margin-left: 1rem;
        }

        & > .options_open {
            width: 80%;
          }
    }
}

@media (max-width: 900px) {
    .nav > .lang_container > .lang_options {
        
        & > div > div {
            display: none;
        }

        & > div > img {
            display: inline-block;
            height: 20px;
            width: 20px;
        }
    } 
}

@media (max-width: 700px) { 
    .nav > div:first-child.options_open {
        width: 0;
    }

    .nav > .lang_container {

        & > .options_open {
            width: 70%;
        }
    }
}