.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    & > section {
        width: max(70%, 350px);

        & > h1, div > h1 {
          olor: #1F2326;
          color: #122d57;
          font-size: 2em !important; // needed because h1 in section defaults to 1.5em
          letter-spacing: 0.3rem;
        }
    }

    & > .opening {
        display: flex;
        flex-direction: column;
        background-color: #f4f8f9;
        transition: background-color 1.5s;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding-top: 3rem;
        
        & > h1, h1 + p, h1 + p + p {
            text-align: center;
        }

        & > p {
          font-size: 1.2rem;
          line-height: 1.8rem;
          letter-spacing: 0.1rem;
        }

        & > div {
          display: flex;
          justify-content: space-around;
          gap: 2rem;
          flex-wrap: wrap;

          & > p {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.4rem;
            font-weight: 600;
            letter-spacing: 0.1rem;
            color: #122d57;
          }
        }
    }

    & > .services {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > .card_container {
            display: flex;
            flex-wrap: wrap;
            gap: 10%;
            justify-content: space-evenly;
            width: 100%;
            max-width: 1600px;

            & > .card {
                height: 420px;
                width: 300px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 1rem;
                position: relative;
                text-align: center;
                margin-top: 2rem;
                padding-top: 1rem;
                box-sizing: border-box;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                background-color: white;

                & > h2 {
                  letter-spacing: 0.3rem;
                  font-size: 1.6rem;
                  color: #122d57;
                  margin: 0;
                  background-color: #f4f8f9;
                  width: 100%;
                }

                & > p {
                  font-size: 1.2rem;
                  line-height: 1.8rem;
                  letter-spacing: 0.1rem;
                  padding: 0 0.5rem;
                }

                & > .price {
                  font-size: 2.5rem;
                  font-weight: 600;
                  margin: 0;
                  padding: 1.5rem 0 0 0;
                  border-bottom-left-radius: 10px;
                  border-bottom-right-radius: 10px;
                  background-color: #f4f8f9;
                  flex: 1;
                  width: 100%;
                  color: #122d57;
                  text-align: center;
                }
            }
        }
    }

    & > .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & > .faq {
        position: relative;
        height: 15rem;
        max-width: 850px;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > .faq_outer_container {
            width: 100%;
            position: relative;
            display: flex;
            height: 100%;

            & > .faq_container {
                display: flex;
                width: 100%;
                flex-direction: column;
                gap: 0.5rem;

                & > .question_container {
                    position: relative;
                    cursor: pointer;
                    border-radius: 10px;
                    transition: background-color 0.5s;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                    & > .question {
                        font-size: 1.7rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0.5rem 1rem;
                        transition: color 0.5s;
                    }

                    & > .answer_container {
                        display: grid;
                        grid-template-rows: 0fr;
                        transition: grid-template-rows 400ms, color 0.5s;

                        & > div { /* answer */
                            overflow: hidden;
                            font-size: 1.4rem;
                            padding: 0 1rem;
                          }
                    }

                    & > .answer_container[aria-hidden='false'] {
                        grid-template-rows: 1fr;
                      }
                  }
              }
          }
      }

      & > .reviews {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 3rem 0rem;
        overflow: hidden; /* Ensure no clipping */

        & > div:first-child {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 1rem;
          box-sizing: border-box;

          & > svg {
            font-size: 2rem;
            color: #1F2326;
            cursor: pointer;
          }
        }
  
        & > .review_slider {
              position: relative;

              & > .review_slider_track {
                    display: flex;
  
                    & > .review_card {
                          flex-shrink: 0;
                          width: calc(100% / 3); /* Default to 3 cards on large screens */
                          padding: 1rem;
                          box-sizing: border-box; /* Ensure padding doesn't affect width */
  
                          & > .review_content {
                                background: white;
                                border-radius: 0.5rem;
                                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                                padding: 1.3rem;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                height: 100%;
                              
                              & > .reviewer_name {
                                font-size: 1.3rem;
                              } 
  
                              & > .review_stars {
                                    display: flex;
                                    margin-bottom: 0.5rem;
  
                                    & > .star_icon {
                                      width: 1.25rem;
                                      height: 1.25rem;
                                    }
                                    
                                    & > .filled_star {
                                      fill: #ffc107; /* Yellow for filled stars */
                                      color: #ffc107;
                                    }
                                    
                                    & > .empty_star {
                                      color: #ffc107; /* Gray for empty stars */
                                    }
                              }
  
                              & > .review_text {
                                    color: #4a5568;
                                    font-size: 1.1rem;
                              }
                          }
                    }
              }
        }
  
        & >  .review_slider_dots {
                display: flex;
                justify-content: center;
                margin-top: 3rem;
  
                & > .dot {
                      width: 0.75rem;
                      height: 0.75rem;
                      border-radius: 50%;
                      margin: 0 0.25rem;
                      background-color: #e0e0e0;
                      border: none;
                      cursor: pointer;
                      transition: all 0.5s;
                }
                
                & > .active_dot {
                      background-color: #122d57;
                }
        }
      }

      & > .contact {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > form {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 100%;
          max-width: 500px;

          & > .f_and_lname {
            display: flex;
            gap: 2rem;
          }

          & > div, & > .f_and_lname > div {
            position: relative;

            & > input {
                font-size: 1.2rem;
                outline: none;
                padding: 1.5rem 3rem 0.5rem 1rem;
                border-radius: 5px;
                width: 100%;
                box-sizing: border-box;
                border: 1px solid grey;

                &:focus + label,
                &:valid + label {
                top: 10%;
                font-size: 12px;
                transform: translateY(0%);
                }
            }

            & > label {
                position: absolute;
                top: 50%;
                left: 1rem;
                transform: translateY(-50%);
                font-size: 17px;
                pointer-events: none;
                transition: all 0.2s ease;
                opacity: 0.6;
            }
         }

         & > .service {
          cursor: pointer;

          & > input {
            text-overflow: ellipsis;
          }

          & > input, label {
            pointer-events: none;
          }

          & > span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 3%;
           }
         }

         & > textarea {
          resize: none;
          border: 1px solid grey;
          outline: none;
          border-radius: 5px;
          padding: 0.6rem;
          font-family: Arial;
          font-size: 1.2rem;
         }

         & > button {
          width: 40%;
          margin: 0 auto;
          cursor: pointer;
          background-color: #036;
          color: white;
          border-radius: 10px;
          outline: none;
          padding: 0.5rem 0;
          font-size: 1.1rem;
         }
       }
     }
}
  
  @media (min-width: 640px) and (max-width: 1023px) {
    .review_card {
      width: calc(100% / 2) !important; 
    }
  }
  
  @media (max-width: 639px) {
    .review_card {
      width: 100% !important; 
    }
  }


  .modal_overlay {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    animation: fadeIn 0.5s;

    & > .modal_content {
        height: min(90%, 45rem);
        width: min(95%, 40rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        background-color: white;
        border-radius: 10px;
        overflow-y: auto;
        position: relative;

        & > .close_review_form {
          position: absolute;
          top: 5%;
          right: 5%;
          cursor: pointer;

          & > svg {
            font-size: 2rem;
          }
        }

        & > ul {
          overflow-y: auto;
          padding: 0 0.3rem 0 0.7rem;
          margin: 0;

          & > li {
            list-style-type: none;
            transition: all 0.4s;
            cursor: pointer;
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
            padding: 0.2rem 0 0.2rem 0.3rem;
            border-radius: 5px;

            &:hover {
              background-color: black;
              color: white;
            } 
          }
        }        
    }
}

.fadeOut {
    animation: fadeOut 0.4s forwards;
}

.popIn {
  animation: popIn 0.5s;
}

.popAway {
  animation: popAway 0.3s forwards;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
  }

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
  }

  @keyframes popIn {
    from {scale: 0}
    to {scale: 1}
  }

  @keyframes popAway {
    from {scale: 1}
    to {scale: 0}
  }

  .review_form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: min(500px, 85%);
    margin: 0 1rem;

    & > .star_container {
      display: flex;
      gap: 1rem;
      align-items: center;

      & > svg {
        cursor: pointer;
        color: #ffc107;
      }
    }

    & > div {
      position: relative;

      & > input {
          font-size: 1.2rem;
          outline: none;
          padding: 1.5rem 3rem 0.5rem 1rem;
          border-radius: 5px;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid grey;

          &:focus + label,
          &:valid + label {
          top: 10%;
          font-size: 12px;
          transform: translateY(0%);
          }
      }

      & > label {
          position: absolute;
          top: 50%;
          left: 1rem;
          transform: translateY(-50%);
          font-size: 17px;
          pointer-events: none;
          transition: all 0.2s ease;
          opacity: 0.6;
      }
   }

   & > textarea {
    resize: none;
    border: 1px solid grey;
    outline: none;
    border-radius: 5px;
    padding: 0.6rem;
    font-family: Arial;
    font-size: 1.2rem;
    height: 7rem;
   }

   & > button {
    width: 40%;
    margin: 0 auto;
    cursor: pointer;
    background-color: #1F2326;
    color: white;
    border-radius: 10px;
    outline: none;
    padding: 0.5rem 0;
    font-size: 1.1rem;
   }
 }
  
  
