html, body, #root {
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  ackground-color: rgba(245, 245, 245);
  background-color: white;
}

/* F7F7F4
7A705C
9AA4AB
595752
3D3733 */

/* #232326 */ 
